.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -10%;
    top: 85%;
    width: 360px;
    height: 256px;
    min-height: 256px;
    background-color: hsl(var(--white));
    border-radius: 0.5rem;
    box-shadow: 1px 10px 15px 5px hsl(var(--black) / 0.5);
}