.current-image {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: -1;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swippe-control {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
}

.control-prev {
    left: 0;
    top: 50%;
}

.control-next {
    right: 0;
    top: 50%;
}