.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #fff;
    border-bottom: 2px solid #e6e6e6;

    @media (max-width: 460px) {
        margin: 0;
        padding: 1rem;
        border-bottom: none;
    }
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar__burger {
    z-index: 2;
    border: none;
    background-color: transparent;
    display: none;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.logo {
    font-size: x-large;
    font-weight: 800;
}

.navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    z-index: 1;


    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        left: -100vw;
        bottom: 0;
        width: 55%;
        height: 100vh;
        padding: 2rem;
        margin-left: 0;
        visibility: hidden;
        background-color: var(--white);
    }
}

@media (max-width: 768px) {
    .show-nav {
        left: 0;
        visibility: visible;
    }
}

.navbar__item {
    padding-right: 1rem;
    color: var(--grayish-blue);

    &:hover {
        color: var(--orange);
        cursor: pointer;
    }

    @media (max-width: 768px) {
        display: block;
        padding: 1.5rem;
        color: var(--black);
    }
}

.navbar__cart {
    margin-right: 2rem;
    cursor: pointer;
}

.quantity {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 50%;
    width: 18px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: absolute;
    top: 23px;
    right: 135px;

    @media screen and (max-width: 468px) {
        right: 72px;
    }

}


.navbar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        border: 2px solid var(--orange);
    }

    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}